<ul class="pager">
  <li class="previous"><a href="<%= APP %>/<%= @navs[:prev] %>">&lt; 前月</a></li>
  <li><a href="<%= APP %>/">今月</a></li>
  <li class="next"><a href="<%= APP %>/<%= @navs[:next] %>">次月 &gt;</a></li>
</ul>
